@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;400;700&display=swap');

* {
    box-sizing: border-box;
}

body{
    background-image: url(https://static.nationalgeographic.es/files/styles/image_3200/public/gettyimages-472099273.jpg?w=710&h=474);
    font-family: 'IBM Plex Sans', sans-serif;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    margin: 0;
}